#content .location {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 15px;
}
#content .location span.choose-location-btn {
  color: #fa9f50;
}
#content .nav {
  overflow: hidden;
}
#content .nav .goods-kind-list {
  width: 245px;
  margin-right: 12px;
  float: left;
}
#content .nav .goods-kind-list .all-kind,
#content .nav .goods-kind-list .kind {
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
}
#content .nav .goods-kind-list .all-kind {
  background-color: #fa9f50;
  font-size: 18px;
  color: #fff;
}
#content .nav .goods-kind-list .kind {
  background-color: #fafafa;
  font-size: 14px;
}
#content .nav .banner {
  width: 743px;
  float: left;
}
#content .hot-goods {
  margin-top: 20px;
}
#content .hot-goods > div {
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 15px;
}
#content .hot-goods li.hot-good-wrapper {
  width: 193px;
  height: 242px;
  margin-right: 5px;
  text-align: center;
  border: 1px solid #fa9f50;
  float: left;
}
* {
  font-family: "Microsoft YaHei" Arial;
  margin: 0;
  padding: 0;
  color: #575757;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#content {
  min-height: 500px;
  margin: 20px 0;
}
.container {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
}
#header {
  background-color: #f9f9f9;
  height: 58px;
}
#header .right {
  float: right;
  height: 12px;
  margin-top: 23px;
  line-height: 12px;
  color: #515151;
}
#header .right .separator {
  color: #d5d8d7;
  margin: 0 20px;
}
#header .right .login_state .logout-btn {
  margin-left: 20px;
  color: #999;
}
#header .right .login_state .entry-cart-btn .amount {
  color: #ff7802;
}
#header .left {
  float: left;
  height: 44px;
  width: 44px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #514b46;
}
#header .left img {
  width: 100%;
}
#footer {
  background-color: #edebe6;
  height: 100px;
  color: #7f9491;
  text-align: center;
}
#footer .top {
  font-size: 14px;
  padding-top: 33px;
}
#footer .top span.separator {
  margin: 0 20px;
}
#footer .bottom {
  font-size: 10px;
  margin-top: 21px;
}
