<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="right">
                {% if user.is_login %}
                <div class="login_state">
                    <span class="username">{{user.name}}</span>
                    <span class="logout-btn btn">退出</span>
                    <span class="separator">|</span>
                    <a href="#" class="entry-cart-btn btn"><img src="">购物车<b class="amount">{{ user.shopping_cart_amount }}</b></a>
                </div>
                {% else %}
                <div class="logout_state">
                    <span class="login-btn btn">登录</span>
                    <span class="separator">|</span>
                    <span class="register-btn btn">注册</span>
                </div>
                {% endif %}
            </div>
            <div class="left">
                <img src="">
            </div>
        </div>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
        <div class="top">
            <span class="serve-protocol">服务协议</span>
            <span class="separator">|</span>
            <span class="contact-support-staff">联系客服</span>
        </div>
        <div class="bottom">Copyright&copy;2014 Zeta.Inc All Rights Reserved</div>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>