{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}

{% block title %}主页{% endblock %}

{% block content %}
<div class="container">
    <div class="location">
        <img src="{{ url_for('static', filename='images/address.png')}}" />
        <span class="location-word" data-bind="text: location">{{ user.location }}</span>
        <span class="choose-location-btn btn">[切换学校]</span>
    </div>
    <div class="nav-banner">
        <div class="nav">
            <div class="goods-kind-list">
                <div class="all-kind">全部分类</div>
                <ul class="kinds-container">
                    {% for cat in catx %}
                    <li>
                        <div class="kind-container">
                            <div class="kind">
                                {{ cat[0].name }}
                                <img class="arrow" src="{{ url_for('static', filename='images/enter.png')}}">
                            </div>
                        </div>
                        <div class="cat2s">
                            <ul>
                                {% for cat2 in cat[1] %}
                                <li>{{ cat2.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="banner">
        </div>
    </div>
    <div class="hot-goods">
        <div><img src="{{ url_for('static', filename='images/hot-products.png')}}">热销商品</div>
        <ul class="hot-goods-list">
            {% for good in hot_goods %}
            <li class="hot-good-wrapper">
                <div class="hot-good-container">
                    <p class="good-name">{{ good[0].name }}</p>
                    <img class="good-pic-url" src="{{good[0].pic_url}}">
                    <p class="good-price">￥ {{ good[0].price }}</p>
                    <div class="interact-area">
                        <div class="insufficient-inventory">&nbsp;</div>
                        <div class="good-count-container">
                            <input class="good-count" value="1" data-quantity="{{ good[2] }}" />
                            <div class="good-plus-minus">
                                <div class="good-plus good-operation">+</div>
                                <div class="good-minus good-operation">-</div>
                            </div>
                        </div>
                        {% if good[2] %}
                        <div class="add-goods-to-cart-btn btn" data-id="{{ good[0].id }}">加入购物车</div>
                        {% else %}
                        <div class="disabled-btn btn">已售罄</div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block mask %}
<div class="schools-box">
    <div class="locations-title">
        请选择您的学校
    </div>
    <div class="locations-container">
        {% for loc in locations %}
        <div class="location-container">
            <p class="school location-name" data-sid="{{ loc[0].id }}">{{ loc[0].name }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="buildings-box">
    <div class="locations-title">
        请选择您的宿舍楼
    </div>
    <div class="locations-container" data-bind="foreach: buildings">
        <div class="location-container">
            <p class="building location-name" data-bind="data-bid: id, text: name"</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
